In [ ]:
#pip install kafka-python

In [ ]:
#pip install s3fs

In [1]:
# import libraries
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

In [2]:
# Create the producer
producer = KafkaProducer(bootstrap_servers=['18.212.122.177:9092'],
                         value_serializer=lambda x:
                         dumps(x).encode('utf-8'))

In [3]:
# Create a producer send demo
producer.send('demo_test', value = "{'surname':'pablo'}")

In [4]:
df = pd.read_csv("D:\Projects\kafka_stock_market_analysis\indexProcessed.csv")

In [5]:
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [ ]:
# See how sample works

In [6]:
df.sample()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
96097,TWII,1997-11-11,7765.220215,7797.720215,7681.140137,7712.160156,7712.131348,0.0,308.486406

In [8]:
df.sample(1).to_dict(orient= "records")[0]

{'Index': 'N225',
 'Date': '1983-11-25',
 'Open': 9340.849609,
 'High': 9340.849609,
 'Low': 9340.849609,
 'Close': 9340.849609,
 'Adj Close': 9340.849609,
 'Volume': 0.0,
 'CloseUSD': 93.40849609}

In [7]:
# create a loop to produce data from the random loop generator

while True:
    dict_stock = df.sample(1).to_dict(orient="records")[0]
    producer.send('demo_test', value = dict_stock)
    sleep(1)

KeyboardInterrupt: